* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
h1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
}
h2 {
  font-size: 50px;
  font-weight: 600;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
}
h2 > span {
  position: relative;
}
h2 > span::after {
  content: "";
  height: 2px;
  background: #444444;
  width: 40%;
  margin-left: -20%;
  left: 50%;
  top: 120%;
  position: absolute;
}
h3 {
  padding-bottom: 30px;
  font-size: 30px;
}

@keyframes shows {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}

.services,
.first-season_section,
.other-teams_section,
.blog,
.contact,
.footer {
  padding: 60px 0;
}
body {
  font-family: "Roboto", sans-serif;
}

header {
  height: 65px;
  background-color: #232323;
  position: sticky;
  top: 0;
  z-index: 10;
}
header .main-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-wrapper {
  margin: 0 auto;
  padding: 0 15px;
  width: 1170px;
  /* height: 100%; */
}
.logotype {
  cursor: pointer;
  height: 50px;
}

.logotype:active {
  cursor: pointer;
  transform: rotate(1080deg);
  transition-duration: 3s;
}

.main-menu ul > li {
  display: inline-block;
  text-transform: uppercase;
}

.main-menu ul > li > a {
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
  margin-right: 15px;
  font-weight: 400;
  font-size: 15px;
  position: relative;
}
.main-menu ul > li:last-child > a {
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
  margin-right: 0;
  font-weight: 400;
}

.main-menu ul > li > a::after {
  content: "";
  width: 10%;
  height: 3px;
  background-color: white;
  position: absolute;
  left: 0;
  right: 0;
  top: 22px;
  margin: 0 auto;
  transition-duration: 0.3s;
  opacity: 0;
  border-radius: 100px;
}

.main-menu ul > li > a:hover::after {
  cursor: pointer;
  width: 100%;
  opacity: 0.5;
}
.main-board {
  height: 500px;
  background: url(./images/main-bckgnd2.jpeg) center center/cover no-repeat
    content-box local;
  background-attachment: fixed;
  position: relative;
}
.main-board::after {
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background-color: #4f4f4f89;
}

.main-board .main-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
  z-index: 2;
}
.main-board__left-block {
  width: 50%;
}

.main-board .main-wrapper > img {
  margin: auto;
  width: 300px;

  opacity: 0.3;
}
.main-board h1 {
  color: white;
  padding: 25px 0 0 30px;
  margin-bottom: 35px;
  position: relative;
}

.main-board h1::before {
  content: "";
  width: 115px;
  height: 5px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: orange;
}

.main-board h1::after {
  content: "";
  width: 5px;
  height: 115px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: orange;
}

.main-board__left-block > div:first-of-type {
  color: white;
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 45px;
}
.main-board_buttons {
  display: flex;
}
.main-board__button-link {
  display: flex;
  align-items: center;
  width: 165px;
  height: 50px;
  border: 1px solid orange;
  text-decoration: none;
  color: white;
  border-radius: 0 5px 0 5px;
  font-size: 15px;
  transition-duration: 0.3s;
}
.main-board_buttons > a:last-child {
  margin-left: 20px;
}

.main-board__button-link > i {
  margin: 0 20px 0 15px;
  padding-right: 10px;
  font-size: 30px;
  color: orange;
  width: 26px;
  transition-duration: 0.3s;
}
.main-board__button-link_bold {
  font-weight: bold;
  font-size: 14px;
}
.main-board__button-link:hover {
  background-color: rgb(255, 166, 0);
}
.main-board__button-link:hover > i {
  color: white;
}

.profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  filter: grayscale(90%);
  transition-duration: 0.5s;
}

.box-icon {
  padding-bottom: 30px;
}
.services__block-item {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
}

.services__item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  flex: 0 0 32%;
  text-align: center;
  transition-duration: 0.35s;
  border-radius: 5px;
}
.services__item:hover {
  box-shadow: 0px 2px 10px 0px #49494961;
}
.services__item:hover .box-icon .narimage {
  filter: grayscale(10%);
  box-shadow: 0px 2px 100px 0px #ff9500b8;
  border: 2px solid #ff95007e;
}

.services__item:hover .box-icon .sakimage {
  filter: grayscale(10%);
  box-shadow: 0px 2px 100px 0px #ff00fbb8;
  border: 2px solid #ff00fbb8;
}

.services__item:hover .box-icon .sasimage {
  filter: grayscale(10%);
  box-shadow: 0px 2px 100px 0px #0080ffb8;
  border: 2px solid #0080ffb8;
}

.services__item > p {
  font-size: 15px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.services__item > a {
  display: block;
  color: rgb(69, 69, 69);
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 15px;
  border: 1px solid rgb(69, 69, 69);
  padding: 10px;
  border-radius: 90px;
  width: 150px;
  transition-duration: 0.3s;
}
.services__item > a:hover {
  background-color: #444444;
  color: white;
  font-weight: bold;
  box-shadow: 0px 5px 11px 0px #2a2a2a;
}

.first-season_section {
  background: url(./images/firstseasonbckg8.jpg) no-repeat;
  box-shadow: 0px 7px 22px 0px #000000 inset;
  background-size: cover;
  position: relative;
  width: 100%;
  z-index: 2;
}
.first-season_section::after {
  content: "";
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  box-shadow: 0px -7px 22px 0px #000000 inset;
  background-color: #5454546a;
}

.first-season_section .main-wrapper {
  justify-content: space-between;
}

.first-season_section .main-wrapper > div {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  padding-top: 50px;
}
.first-season_container {
  align-self: flex-start;
}

.first-season-img {
  width: 260px;
  height: 350px;
  filter: grayscale(60%);
  opacity: 0.7;
}

.first-season_section .main-wrapper > h2 {
  margin-bottom: 30px;
  color: white;
}
.first-season_container > h3 {
  color: white;
  text-shadow: 0px 0px 12px #000000;
  padding-right: 200px;
}
.first-season_container > p {
  line-height: 2;
  letter-spacing: 1px;
  font-weight: bold;
  color: white;
  font-size: 15px;
  text-shadow: 0px 0px 12px #000000;
}

.first-season_section > h2::after {
  color: white;
}

.first-season_section h2 > span::after {
  background: white;
}

.first-season_series-list {
  line-height: 2;
  letter-spacing: 1px;
  font-weight: bold;
  color: white;
  font-size: 15px;
  text-shadow: 0px 0px 12px #000000;
  position: relative;
}
.first-season_series-list > ul > li {
  list-style: katakana-iroha inside;
  padding-top: 10px;
  color: rgb(255, 102, 0);
}

.first-season_series-list > ul > li > a {
  text-decoration: none;
  color: white;
  margin-top: 10px;
  padding: 0 10px;
  border-radius: 100px;
  transition-duration: 0.3s;
}

.first-season_series-list > ul > li > a:hover {
  cursor: pointer;
  text-shadow: 0px 0px 5px #ffffff;
  color: rgb(255, 102, 0);
  background-color: rgba(255, 255, 255, 0.726);
  border-radius: 100px;
  padding: 10px;
}

.other-teams_section {
  background: white;
  background-size: cover;
  position: relative;
}

.other-teams_list {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 0;
  justify-content: center;
}

.other-teams_block {
  overflow: hidden;
  display: block;
  flex-direction: column;
  width: 25%;
  height: 250px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 10px 1px #00000061;
  border-radius: 10px;
  margin: 0 30px 50px 30px;
  text-align: center;
  transition: 0.8s;
}
.team-card_name {
  font-size: 20px;
  text-transform: lowercase;
  font-weight: bold;
  padding: 10px 0 20px 0;
}

.team-card_photo {
  width: 160px;
  height: 150px;
  border-radius: 10px 10px 10px 10px;
  filter: grayscale(40%);
  margin-bottom: 20px;
  object-fit: cover;
  object-position: center;
}

.team-card_discription {
  font-size: 10px;
  padding: 0 10px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  letter-spacing: 1px;
}
.team-card_composition {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 10px;
}
.other-teams_block .card-face-two .card-face-two_content > ul {
  margin-bottom: 15px;
}
.other-teams_block .card-face-two .card-face-two_content > ul > li {
  font-size: 10px;
  padding: 0 10px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
  letter-spacing: 1px;
  list-style: none;
}

.card-face-one {
  height: 200px;
  transition: 1.2s;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(30px);
}
.other-teams_block:hover {
  display: flex;
  height: 600px;
}
.other-teams_block:hover .card-face-one {
  transform: translateY(0);
}

.card-face-two {
  transition: 1.2s;
  opacity: 0;
  display: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  transform: translateY(-200px);
}

.other-teams_block:hover .card-face-two {
  transform: translateY(0px);
  visibility: visible;
  opacity: 1;
}

.card-face-one-logo {
  width: 160px;
  height: 150px;
  object-fit: cover;
  object-position: center;
  opacity: 0.7;
}
.second-season {
  position: relative;
  background: url(./images/backgroundteamsend.jpg) no-repeat;
  box-shadow: 0px 7px 22px 0px #000000 inset;
  background-size: cover;
  position: relative;
}

.second-season .main-wrapper {
  align-items: center;
  padding: 60px 0;
}
.second-season .main-wrapper > div:first-of-type {
  position: relative;
}
.second-season .main-wrapper > h2 {
  color: white;
  text-shadow: 0px 0px 10px #000000;
}
.second-season h2 > span::after {
  background: white;
  box-shadow: 0px 0px 3px #000000;
}
.second-season_container {
  display: flex;
  padding-top: 100px;
  align-items: center;
  justify-content: center;
}
.second-season-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transition: 3s;
}

.second-season-content > h3 {
  color: white;
  text-shadow: 0px 0px 10px #000000;
  padding-right: 200px;
}

.second-season-content > p {
  line-height: 2;
  letter-spacing: 1px;
  font-weight: bold;
  color: white;
  font-size: 15px;
  text-shadow: rgb(255, 255, 255) 0px 0px 12px;
}
.second-season_series-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 50px;
}
.second-season_series-list > ul {
  padding-right: 50px;
}
.second-season_series-list > ul > li {
  font-weight: bold;
  list-style: katakana-iroha inside;
  color: rgb(132, 0, 255);
  text-shadow: 0px 0px 10px white;
  padding-top: 10px;
}

.second-season_series-list > ul > li > a {
  text-decoration: none;
  color: white;
  margin-top: 10px;
  padding: 0 10px;
  border-radius: 100px;
  transition-duration: 0.3s;
  text-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.second-season_series-list > ul > li > a:hover {
  cursor: pointer;
  text-shadow: 0px 0px 5px #ffffff;
  color: rgba(193, 64, 248, 0.843);
  background-color: rgba(255, 255, 255, 0.726);
  border-radius: 100px;
  padding: 10px;
}
.img-containter {
  position: relative;
}

.jiraya-photo {
  width: 260px;
  height: 350px;
  filter: grayscale(60%);
  /* opacity: 0.8; */
  outline: 5px solid wheat;
  border: 1px solid rgb(83, 76, 61);
}

.fukaku-cypher {
  transition-duration: 2s;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  opacity: 0.7;
  font-size: 50px;
  text-align: justify;
  letter-spacing: 5px;
  color: white;
  text-shadow: 1px 0 1px #64646482, 0 1px 1px #64646482, -1px 0 1px #64646482,
    0 -1px 1px #64646482;
  line-height: 1.5;
}

.img-containter:hover .fukaku-cypher {
  transition-duration: 2s;
  display: block;
  animation: shows 2s;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-content > h2 {
  padding-bottom: 20px;
  color: rgb(32, 32, 32);
  font-size: 40px;
  letter-spacing: 5px;
}
.footer-content > h3 {
  padding: 30px 0 20px;
  color: rgb(32, 32, 32);
  text-transform: uppercase;
  font-size: 15px;
}
.social-media-links {
  justify-content: space-between;
  display: flex;
  width: 15%;
  padding-bottom: 20px;
}
.social-media-links > a > i {
  justify-content: space-between;
  font-size: 30px;
  color: rgb(32, 32, 32);

  width: 26px;
  transition-duration: 0.3s;
}

.social-media-links > a > i:hover {
  transform: translate(0px, -5px);
  color: rgb(255, 145, 0);
  width: 26px;
  transition-duration: 0.3s;
}
